
@{
    ViewBag.Title = "Product Listing";
}
@using X.PagedList.Mvc;
@using X.PagedList;


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/output-table-stiles.css" rel="stylesheet" type="text/css" />


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/CategoriesHelp.js")


<h2>Products</h2>

@{ string a = ViewBag.ItemsCount;}
@Html.DropDownList("select", ViewBag.SelectedList as SelectList, a )

<script>
    $(document).ready(function () {
        $("#select").change(function () {
            var a = $("#select").val();
            var href = "/Elements/ProductsIndex?page=1&ItemsCount=" + a;

            window.location.href = href;
        });
    });
</script>

<script>
    function orderColumn(columnNumber) {
        var href = "/Elements/ProductsIndex?sortCase=" + columnNumber;
        window.location.href = href;
    }
</script>

<table>
    <tr>
        <th onclick="orderColumn(1)">Name</th>
        <th>Description</th>
        <th onclick="orderColumn(2)">Price</th>
        <th onclick="orderColumn(3)">Count</th>
        <th>Image</th>
    </tr>
    @foreach (var product in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            <td>@product.Count</td>

            @{var imgSrc = @Url.Content("~/images/box.png");}
            @if (@product.Image != null)
            {
                var base64 = Convert.ToBase64String(@product.Image);
                imgSrc = String.Format("data:image/png;base64,{0}", base64);
            }

            <td><img src="@imgSrc" width="100" height="100"></td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("ProductsIndex", new { page }))